<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="public/styles/home.css" />

    <title>Clinic</title>
  </head>
  <body>
    <header class="header">
      <div class="container">
        <img
          class="logo"
          src="public/images/logo.png"
          alt="Healthcare"
          width="60"
          height="40"
        />

        <nav class="header__nav">
          <ul class="header__nav-list">
            <li class="header__nav__item">
              <a class="header__nav__link" href="/">Home</a>
            </li>

            <li class="header__nav__item">
              <a class="header__nav__link" href="/signup">Sign up</a>
            </li>

            <li class="header__nav__item">
              <a class="header__nav__link" href="/login">Log in</a>
            </li>

            <li class="header__nav__item">
              <a class="header__nav__link" href="/profile">Profile</a>
            </li>

            <!-- <li class="header__nav__item">
              <a class="header__nav__link" href="#">Contact</a>
            </li>

            <li class="header__nav__item">
              <a class="header__nav__link" href="#">Story</a>
            </li>

            <li class="header__nav__item">
              <a class="header__nav__link" href="#">Careers</a>
            </li>

            <li class="header__nav__item">
              <a class="header__nav__link" href="#">News</a>
            </li> -->
          </ul>
        </nav>

        <img
          class="menu-icon"
          src="public/images/menu6.png"
          alt="Menu icon"
          width="35"
          height="35"
        />
      </div>
    </header>

    <main>
      <section class="intro-section">
        <div class="intro-wrapper">
          <div class="intro__bottom-line"></div>
          <img
            class="intro__main-img"
            src="public/images/intro-img.jpg"
            alt="Intro image"
            width="982"
            height="743"
          />

          <div class="intro__text">
            <div class="container">
              <div class="intro__text__left-block">
                <h1 class="intro__heading _anim-items _anim-no-hide">
                  <!-- We build your dream house well and professionally -->
                  Healthy Living
                </h1>

                <p class="intro__description _anim-items _anim-no-hide">
                  LET'S MAKE YOUR LIFE HAPPIER
                </p>
              </div>

              <a class="intro__contact-link" href="/">Contact us</a>
            </div>
          </div>
        </div>
      </section>

      <!-- ==================== About company section =========================== -->

      <section class="about-section">
        <div class="about">
          <div class="container">
            <div class="about__left-block">
              <ul class="about__left-images-list">
                <li class="about__images-list-item">
                  <img
                    src="public/images/blog_1.jpg"
                    alt="Image"
                    width="310"
                    height="241"
                  />
                </li>
                <li class="about__images-list-item">
                  <img
                    src="public/images/blog_2.jpg"
                    alt="Image"
                    width="310"
                    height="158"
                  />
                </li>
              </ul>

              <div class="about__licensed-circle">
                <img
                  src="public/images/licensed.png"
                  alt="Licensed curtains"
                  width="78"
                  height="58.5"
                />
                <span>Pro licensed</span>
              </div>

              <ul class="about__right-images-list">
                <li class="about__images-list-item">
                  <img
                    src="public/images/blog_3.jpg"
                    alt="Image"
                    width="310"
                    height="158"
                  />
                </li>
                <li class="about__images-list-item">
                  <img
                    src="public/images/blog_4.jpg"
                    alt="Image"
                    width="310"
                    height="240"
                  />
                </li>
              </ul>
            </div>

            <div class="about__right-block">
              <div class="about__right__description">
                <h2 class="about__right-heading">Our clinic</h2>
                <p class="about__right-text">
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                  Nobis molestiae deleniti officiis eligendi adipisci
                  consequuntur maiores autem esse veritatis voluptas.
                </p>
              </div>

              <div class="about__right-stats">
                <p>We already handled</p>

                <ul class="about__stats-list">
                  <li class="about__stats-item">50+ Lorem</li>
                  <li class="about__stats-item">30+ Lorem</li>
                  <li class="about__stats-item">20+ Lorem</li>
                </ul>

                <div>
                  <a class="about__right__more-link" href="/">See more</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- =====================Service Types Section===================== -->

      <section class="services-section">
        <div class="services">
          <div class="container">
            <h2 class="services__heading">Our services</h2>
            <p class="services__title">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            </p>

            <ul class="services__list">
              <li class="services__lit-item">
                <svg
                  class="services__item-img"
                  width="43"
                  height="42"
                  viewBox="0 0 43 42"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M30.8933 19.8566L34.5567 16.1933L25.8067 7.44331L22.1433 11.1066L12.4833 1.46998C10.6633 -0.350023 7.7 -0.350023 5.88 1.46998L1.44667 5.90331C-0.373334 7.72331 -0.373334 10.6866 1.44667 12.5066L11.0833 22.1433L0 33.25V42H8.75L19.8567 30.8933L29.4933 40.53C31.71 42.7466 34.6967 41.93 36.0967 40.53L40.53 36.0966C42.35 34.2766 42.35 31.3133 40.53 29.4933L30.8933 19.8566ZM14.42 18.83L4.76 9.19331L9.17 4.75998L12.1333 7.72331L9.38 10.5L12.67 13.79L15.4467 11.0133L18.83 14.3966L14.42 18.83ZM32.8067 37.24L23.17 27.6033L27.6033 23.17L30.9867 26.5533L28.21 29.33L31.5 32.62L34.2767 29.8433L37.24 32.8066L32.8067 37.24ZM41.3233 9.42664C41.5396 9.21078 41.7113 8.95437 41.8283 8.6721C41.9454 8.38983 42.0057 8.08724 42.0057 7.78164C42.0057 7.47605 41.9454 7.17346 41.8283 6.89119C41.7113 6.60891 41.5396 6.35251 41.3233 6.13664L35.8633 0.676643C34.7667 -0.420024 33.25 -2.38516e-05 32.5733 0.676643L28.3033 4.94664L37.0533 13.6966L41.3233 9.42664Z"
                    fill="#434343"
                  />
                </svg>

                <p class="services__item-title">Lorem, ipsum dolor.</p>
                <p class="services__item-description">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </p>
              </li>

              <li class="services__lit-item">
                <svg
                  class="services__item-img"
                  width="52"
                  height="38"
                  viewBox="0 0 52 38"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M27.1667 5.33335C27.1667 2.74335 29.2434 0.666687 31.8334 0.666687H40C42.5667 0.666687 44.6667 2.76669 44.6667 5.33335V10.3734C41.96 11.33 40 13.8967 40 16.93V21.6667H27.1667V5.33335ZM12 16.9067V21.6667H24.8334V5.33335C24.8334 2.74335 22.7567 0.666687 20.1667 0.666687H12C9.43337 0.666687 7.33337 2.76669 7.33337 5.33335V10.35C10.04 11.3067 12 13.8967 12 16.9067ZM46.2067 12.4034C43.92 12.7767 42.3334 14.9467 42.3334 17.28V24H9.66671V17C9.66671 15.7623 9.17504 14.5754 8.29987 13.7002C7.4247 12.825 6.23772 12.3334 5.00004 12.3334C3.76236 12.3334 2.57538 12.825 1.70021 13.7002C0.825039 14.5754 0.333374 15.7623 0.333374 17V28.6667C0.333374 31.2334 2.43337 33.3334 5.00004 33.3334V38H9.66671V33.3334H42.3334V38H47V33.3334C49.5667 33.3334 51.6667 31.2334 51.6667 28.6667V17C51.6667 14.1767 49.1234 11.9134 46.2067 12.4034Z"
                    fill="#434343"
                  />
                </svg>

                <p class="services__item-title">Lorem, ipsum.</p>
                <p class="services__item-description">
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                </p>
              </li>

              <li class="services__lit-item">
                <svg
                  class="services__item-img"
                  width="45"
                  height="48"
                  viewBox="0 0 45 48"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M40.3123 0.666687H17.0233C14.431 0.666687 12.3333 2.76435 12.3333 5.35669V18.5097L1.36199 29.341C1.03326 29.6661 0.808525 30.0816 0.716312 30.5347C0.6241 30.9877 0.668565 31.458 0.844064 31.8857C1.01956 32.3135 1.31818 32.6794 1.70203 32.9372C2.08587 33.1949 2.53764 33.3328 2.99999 33.3334V45C2.99999 45.6189 3.24582 46.2124 3.68341 46.6499C4.12099 47.0875 4.71448 47.3334 5.33332 47.3334H42.6667C43.2855 47.3334 43.879 47.0875 44.3166 46.6499C44.7542 46.2124 45 45.6189 45 45V5.35435C45 2.76435 42.9046 0.666687 40.3123 0.666687ZM21.4847 31.259V42.6667H7.66665V29.6747L14.6363 22.7937L21.4847 29.8007V31.259ZM26.3333 17H21.6667V12.3334H26.3333V17ZM35.6666 35.6667H31V31H35.6666V35.6667ZM35.6666 26.3334H31V21.6667H35.6666V26.3334ZM35.6666 17H31V12.3334H35.6666V17Z"
                    fill="#434343"
                  />
                </svg>

                <p class="services__item-title">Lorem, ipsum dolor.</p>
                <p class="services__item-description">
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                </p>
              </li>

              <li class="services__lit-item">
                <svg
                  class="services__item-img"
                  width="48"
                  height="44"
                  viewBox="0 0 48 44"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M28.1604 29.4013L33.1094 24.4523L47.1 38.443L42.151 43.392L28.1604 29.4013ZM36.8334 17.3333C41.3367 17.3333 45 13.67 45 9.16664C45 7.8133 44.6267 6.5533 44.0434 5.4333L37.7434 11.7333L34.2667 8.25664L40.5667 1.95664C39.4467 1.3733 38.1867 0.999971 36.8334 0.999971C32.33 0.999971 28.6667 4.6633 28.6667 9.16664C28.6667 10.1233 28.8534 11.0333 29.1567 11.8733L24.84 16.19L20.6867 12.0366L22.3434 10.38L19.0534 7.08997L24 2.1433C22.6875 0.832433 20.9084 0.0961304 19.0534 0.0961304C17.1984 0.0961304 15.4192 0.832433 14.1067 2.1433L5.84669 10.4033L9.13669 13.6933H2.55669L0.900024 15.35L9.16002 23.61L10.8167 21.9533V15.35L14.1067 18.64L15.7634 16.9833L19.9167 21.1366L2.62669 38.4266L7.57336 43.3733L34.1267 16.8433C34.9667 17.1466 35.8767 17.3333 36.8334 17.3333Z"
                    fill="#434343"
                  />
                </svg>

                <p class="services__item-title">Lorem.</p>
                <p class="services__item-description">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </p>
              </li>
            </ul>
          </div>
        </div>
      </section>

      <!-- TODO ==================Benefits section=========================== -->

      <section class="benefits-section">
        <div class="benefits">
          <div class="container">
            <h2 class="benefits__heading">Our benefits</h2>
            <p class="benefits__title">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam,
              eum.
            </p>

            <ul class="benefits__list">
              <li class="benefits__item">
                <img
                  src="public/images/Vector.png"
                  aria-hidden="true"
                  alt=""
                  width="51"
                  height="51"
                />

                <p class="benefits__item-title">Lorem, ipsum.</p>

                <p class="benefits__item-desc">
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem,
                  tempore.
                </p>
              </li>

              <li class="benefits__item">
                <img
                  src="public/images/Vector.png"
                  aria-hidden="true"
                  alt=""
                  width="51"
                  height="51"
                />

                <p class="benefits__item-title">Lorem, ipsum.</p>

                <p class="benefits__item-desc">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Deserunt voluptatibus vitae qui.
                </p>
              </li>

              <li class="benefits__item">
                <img
                  src="public/images/Vector.png"
                  aria-hidden="true"
                  alt=""
                  width="51"
                  height="51"
                />

                <p class="benefits__item-title">Lorem, ipsum.</p>

                <p class="benefits__item-desc">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet
                  sunt ab doloribus provident deleniti?
                </p>
              </li>
            </ul>
          </div>
        </div>
      </section>
    </main>

    <footer id="footer">
      <div class="footer__top">
        <div class="container">
          <div class="footer__left">
            <a class="footer__logo-link" href="#">
              <img src="public/images/logo.png" alt="Logo" />
            </a>

            <a class="footer__location" href="/">
              Lizenzo street number 12 Jakarta, Indonesia
            </a>

            <a class="footer__directions" href="#">Get directions</a>
          </div>

          <nav class="footer__nav">
            <ul class="footer__categories-list">
              <!-- Category 1 -->

              <li class="footer__categories-item">
                <h3 class="footer__category-heading">Menu</h3>
                <ul class="footer__inner-list">
                  <li class="footer__inner-item">
                    <a class="footer__inner-link" href="/">Home</a>
                  </li>

                  <li class="footer__inner-item">
                    <a class="footer__inner-link" href="/signup">Sign Up</a>
                  </li>

                  <li class="footer__inner-item">
                    <a class="footer__inner-link" href="/signin">Sign In</a>
                  </li>

                  <li class="footer__inner-item">
                    <a class="footer__inner-link" href="/profile">Profile</a>
                  </li>
                </ul>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </footer>

    <script>
      const animItems = document.querySelectorAll("._anim-items");

      if (animItems.length > 0) {
        window.addEventListener("scroll", animOnScroll);
        function animOnScroll() {
          for (let index = 0; index < animItems.length; index++) {
            const animItem = animItems[index];
            const animItemHeight = animItem.offsetHeight;
            const animItemOffset = offset(animItem).top;
            const animStart = 4;

            let animItemPoint = window.innerHeight - animItemHeight / animStart;

            if (animItemHeight > window.innerHeight) {
              animItemPoint =
                window.innerHeight - window.innerHeight / animStart;
            }

            if (
              pageYOffset > animItemOffset - animItemPoint &&
              pageYOffset < animItemOffset + animItemHeight
            ) {
              animItem.classList.add("_active");
            } else {
              if (!animItem.classList.contains("_anim-no-hide")) {
                animItem.classList.remove("_active");
              }
            }
          }
        }

        function offset(el) {
          const rect = el.getBoundingClientRect(),
            scrollLeft =
              window.pageXOffset || document.documentElement.scrollLeft,
            scrollTop =
              window.pageYOffset || document.documentElement.scrollTop;
          return { top: rect.top + scrollTop, left: rect.left + scrollLeft };
        }

        setTimeout(() => {
          animOnScroll();
        }, 300);
      }
    </script>
  </body>
</html>
